/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'halflings';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
/*#region chk-main */

#checklist #chk-main {
    margin: 2em auto;
    padding: 0;
}

	#checklist #chk-main .checklist-section {
		overflow: hidden;
		margin: 0 auto 1em auto;
		width: 100%;
		border: 1px solid #8ebeee;
		border-radius: 0px;
		background: #fcfdfe;
		box-shadow: inset 0 0 0px 1px #FFF, inset 0 0 30px #dde6f2;
		-webkit-column-break-inside: avoid;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
		#checklist #chk-main .checklist-section + .checklist-section {
			border-top:none;
		}	
		#checklist #chk-main .checklist-section-header {
			margin: 0;
			padding: 5px 10px;
		}

		#checklist #chk-main .checklist-section.banner {
			border: none;
			background: none;
			box-shadow: none;
			text-align: center;
		}

	#checklist #chk-main .checklist-section-list, 
	#checklist #chk-main {
		list-style: none;
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		padding: 0px;
	}

		#checklist #chk-main li {
			list-style: none;
			margin: 0;
		}
		#checklist #chk-main .checklist-section-list > li {
			border-style: solid;
			border-width: 1px 0 0;
			border-color: #DCE8F5;
			position: relative;
		}
		#checklist #chk-main .checklist-section-list > li > input[type="checkbox"] {
			position: absolute;
			margin: 7px;
			visibility: hidden;
		}
		#checklist #chk-main .checklist-section-list > li > label {
			margin: 0;
			padding: 5px 10px 5px 32px;
			display: block !important;
		}
		#checklist #chk-main .checklist-section-list > li > label:before {
			background: url("images/key_check.png") no-repeat scroll left bottom transparent;
			background-size:cover;
			color: #7FAACC;
			content: " ";
			display: block;
			font-size: 16px;
			font-style: normal;
			font-variant: normal;
			font-weight: normal;
			height: 24px;
			left: 24px;
			line-height: 1;
			margin-left: -1.2em;
			margin-right: 0.5em;
			position: absolute;
			text-transform: none;
			top: -2px;
			vertical-align: -2px;
			width: 24px;
		}
		#checklist #chk-main .checklist-section-list > li > label:hover {
			background-color: #FFFfff;	
		}
		#checklist #chk-main .checklist-section-list  input[type="checkbox"]:disabled + label {
			cursor:default;
			color: #4E7D97;
			background-color: #FFFfff;			
		}
		
		.checklist-section-list li .glyphicon {
			cursor: pointer;
			display: block;
			float: right;
			height: 20px;
			opacity: 0.3;
			padding-top: 2px;
			position: relative;
			text-align: right;
			vertical-align: middle;
			width: 20px;
		}

		.checklist-section-list .tooltip {
			position:absolute;
			z-index:9999;
			top:5px;
		}
		.checklist-section-list .tooltip-inner {
			min-width:150px;
			max-width:350px;
			width:auto;		
		}
		#checklist #chk-main .checklist-section {
			overflow:visible;
			margin: 0px auto;
		}
		#checklist #chk-main ul a {
			font-size: .95em;
			color: #0055D5;
			text-decoration: underline;
		}
		#checklist #chk-main ul a:visited {
			color: #444;
		}
		#checklist #chk-main ul a:hover {
			color: #0064fb;
		}
		#checklist #chk-main ul *:not(.optional) + .optional:before {
		    border-top: 1px solid #DCE8F5;
		    content: "Optional:";
		    display: block;
		    font-size: 13px;
		    font-weight: bold;
		    height: 38px;
		    padding: 5px 40px 5px 30px;
		    position: absolute;
		    top: -29px;
		    width: 100%;
		}
		#checklist #chk-main .checklist-section-list > li.optional {
		    margin-top: 29px;
		}

#checklist span.glyphicon
{
	font-family: 'halflings';
}


#checklist input[type="checkbox"] {
	margin-right: 5px;
}
.checklist-section-list .panel-collapse {
    background: none repeat scroll 0 0 #E3EAE6;
    margin: 0;
    padding: 0px;
}
.checklist-section-list .panel-collapse li {
    padding: 10px;
}

	/*#endregion */

/*#region Progressbar */
#checklist input[type="checkbox"]:checked + label {
		color: #4E7D97;
		background-color: #ffffff;
		display: block !important;
	}
#checklist #chk-main input[type="checkbox"]:checked + label:before {
		background-position: left -6px;
		top: 5px;
	}
.progress-container {
	height: 100px;
	position: relative;
}
#checklist .progress {
    position: relative;
	overflow:visible;
	margin: 80px 0;
}  
#checklist .progress span {
    margin-top: -28px;
    opacity: 0.5;
    position: absolute;
    text-shadow: none;
    z-index: 1;
	text-shadow:none;
}

#checklist .progress span#well-done {
	left: 85%;
}
#checklist .progress span#well-done:before {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid #468847;
    bottom: -5px;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;
}
#checklist .progress span#keep-going {
	right: 50%;
	margin-right: -50px;
}
#checklist .progress span#keep-going:before {
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-top: 5px solid #F89406;
    bottom: -5px;
    content: " ";
    display: block;
    height: 0;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0;
}
#checklist .progress {
	border-radius: 0;
}

#checklist #bonus {
	position: absolute;
	right: 0em;
	margin-top: 20px;
	margin-right: 2px;
	z-index: 1;
	color: #333;
}
	#checklist #bonus mark {
		background: none;
		font-style: italic;
		font-weight: bold;
	}

#checklist #reset {
	position: absolute;
	right: 1em;
	z-index: 1;
}
	#checklist .progress span {
		padding: 3px;
		text-align: center;
		text-transform: uppercase;
	}
	#checklist .progress .label-default {
		margin-top: 0;
		opacity: 1;
		right: -11px;
	}	

	#checklist .progress::-webkit-progress-bar {
		background: #eaeaea;
	}

	#checklist .progress::-webkit-progress-value {
		background: #E6AA05;
	}

	#checklist .progress::-moz-progress-bar {
		background-color: #E6AA05;
	}
.checklist-section-header .accordion-toggle:hover {
	text-decoration:none;
}
.checklist-section-header .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 6px solid #0061BE;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	margin-top: 10px;
	margin-right: 2px;
	margin-left:7px;
	float:right;
}
/*#endregion */

#checklist #chk-main section {
	        border: 0;
}

/*! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects `block` display not defined in IE 8/9.
 */

#checklist article,
#checklist aside,
#checklist details,
#checklist figcaption,
#checklist figure,
#checklist footer,
#checklist header,
#checklist hgroup,
#checklist nav,
#checklist section,
#checklist summary {
    display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */

#checklist audio,
#checklist canvas,
#checklist video {
    display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

#checklist audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */

#checklist [hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

#checklist html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Removes default margin.
 */

#checklist body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */

#checklist a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */

#checklist a:active,
#checklist a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */


/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */

#checklist abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

#checklist b,
#checklist strong {
    font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

#checklist dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

#checklist mark {
    background: #ff0;
    color: #000;
}


/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

#checklist code,
#checklist kbd,
#checklist pre,
#checklist samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

#checklist pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */

#checklist q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

#checklist small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

#checklist sub,
#checklist sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

#checklist sup {
    top: -0.5em;
}

#checklist sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/*
 * Removes border when inside `a` element in IE 8/9.
 */

#checklist img {
    border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */

#checklist svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */

#checklist figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/*
 * Define consistent border, margin, and padding.
 */

#checklist fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

#checklist legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */

#checklist button,
#checklist input,
#checklist select,
#checklist textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

#checklist button,
#checklist input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */

#checklist button,
#checklist html input[type="button"], /* 1 */
#checklist input[type="reset"],
#checklist input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */

#checklist button[disabled],
#checklist input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */

#checklist input[type="checkbox"],
#checklist input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */

#checklist textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
	min-height: 200px !important;
}

/* ==========================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells.
 */

#checklist table {
    border-collapse: collapse;
    border-spacing: 0;
}

#checklist nav {
    min-width: 16px;
    position: absolute;
    top: 1em;
    left: 1em;
    background: #222;
    padding: .5em;
    border-radius: 3px;
    cursor: default;
    z-index: 2;
}

#checklist nav span {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVQ4y2P8//8/AyWAEWSAs7Mz3JS9e/cyUsUAZDFcAKSWOi6gOAxGA3E0EId+IAIArFBf4TIqIjsAAAAASUVORK5CYII=') no-repeat;
    *background: url(/Images/menu.png) no-repeat; /* For IE 6 and 7 */
    padding-left: 20px;
    line-height: 16px;
    display: inline-block;
}

#checklist .no-touch nav:hover,
#checklist nav.open {
    -webkit-box-shadow: rgba(0, 0, 0, 0.79) 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.79) 5px 5px;
}

    #checklist .no-touch nav:hover > ul,
    #checklist nav.open > ul {
        max-height: 300px;
        max-width: 200px;
    }

#checklist nav ul {
    list-style: none;
    padding: 0 0 0 .8em;
}

    #checklist nav ul li {
        padding: 0;
        margin: 0;
    }

#checklist nav > ul {
    padding: 0 0 0 1.2em;
    max-height: 0;
    max-width: 45px;
    margin: 0;
    overflow: hidden;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

    #checklist nav > ul > li > a {
        margin: .8em 0;
        display: block;
    }

    #checklist nav > ul > li.planned {
        margin: 0 .8em;
        display: block;
    }

#checklist nav a + ul > li:last-child {
    margin-bottom: .8em;
}
   
@media screen and (max-width: 720px) {

    @-o-viewport {
        width: 380px;
    }

    @-ms-viewport {
        width: 380px;
    }

    #checklist section {
        line-height: 1.6;
    }

    #checklist h2 {
        font-size: 1.2em;
    }

    #checklist #chk-main {
        -moz-columns: auto;
        -webkit-columns: auto;
        columns: auto;
    }

}

@media print {
    body {
        width: 850px;
    }

    footer, #bonus {
        display: none;
    }
}

/* Win8 snapped view*/
@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 430px;
    }
	.rating-result {
		position: inherit;
	}
}

#checklist{
	margin-left:23px;
	margin-right: 23px;
}

#checklist-root .form-horizontal .control-label {
	width: auto !important;
}

#checklist-root input.form-control{
	height: 30px !important;
}


.chk-add-group, .chk-add-item-form, .alert{
	display:none;
}

.chk-add-item
{
	float:right;
	display:none;
}

.chk-add-item-form{
	margin:15px;
}
	
.chk-tools{
	display:none;
	cursor:pointer;
	float: right;
	margin-top: 4px;
}

.pencil{
	margin-right:5px;
}

.chk-edititem-form{
	opacity: 0;
	display:block;
	position:absolute;
	z-index:10000;
	-moz-box-sizing: border-box;
	background: none repeat scroll 0 0 #FCFDFE;
	border: 1px solid #8EBEEE;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #FFFFFF inset, 0 0 30px #DDE6F2 inset;
	margin: 0 auto 1em;
	padding: 15px;
	width: 390px;
	height:auto;
}

.chk-edititem-form .form-control
{
	width:107% !important;
}
.chk-edititem-form textarea.form-control {
	min-height: 200px !important;
}

.chk-edititem-form textarea.form-control
{
	width:112% !important;
	height: 200px;
}

.chk-arrow{
	border-color: #EDEDED transparent transparent;
	border-style: solid;
	border-width: 17px 0 2px 20px;
	height:0;  width:0;
	position:relative;
	bottom:16px;
	left:-36px;
}

.checklist-social {
	margin:14px 50px 0;
}

.checklist-social-btn {
	float:left;
	min-width:70px;
}

.alert
{
	margin-right: 40px;
}

.checklist-edit-mode, .checklist-view-mode
{
	float:right;
	margin-bottom: 10px;
	margin-right: 15px;
}

.chk-add-item-form .form-horizontal input[type="text"]
{
	margin-bottom:5px !important;
	width: 98%;
}

.chk-add-item-form .form-horizontal textarea
{
	margin-bottom:5px !important;
	width: 98%;
}

.chk-add-item-form .form-horizontal .form-group, .chk-add-group .form-horizontal .form-group
{
	margin: 10px;
}

.chk-add-group .form-horizontal input[type="text"]
{
	width: 98%;
}

.chk-edititem-form .form-group
{
	margin:10px;
}

.glyphicon-info-sign:before{
	content:"\e086"
}

.glyphicon-cogwheel:before{
	content:"\e045"
}

.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
}

.progress-striped .progress-bar-info {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

.progress-bar {
    background-color: #428BCA;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    transition: width 0.6s ease 0s;
    width: 0;
}

.checklist-rating
{
	border-bottom: 1px solid #eeeeee;
	padding:10px;
}

.rating-result
{
	float: right;
    position: relative;
    top: -19px;
}