.control-label{
    width: 250px !important;
    padding-top: 0px !important;
}

.form-horizontal .controls{
    margin-left: 260px !important;
}

.form-horizontal .controls textarea {
    width: 90% !important;
}

.jqd-survey {
    border: 1px solid rgb(215,198,154);
    border-radius: 5px;
    position: relative;
    height: 15px;
    width: 450px;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: rgb(248,238,185);
    top: 35px;
    box-shadow: 0 3px 10px 1px #ccc;
}

.jqd-survey .icon-remove{
    position: absolute;
    font-size: 10px;
    right: 5px;
    top: 5px;
    color: #cccccc;
    cursor: pointer;
}

#close-icon:hover{
    color: #000000;
}

.gl_left {
  text-align: left !important;
}


#dashboard_items

{

  margin-left: 5px;
  padding-top: 10px;
  clear:both;

}



#dashboard_items a

{

  vertical-align: middle;

}



.pmg-dashboard_item_icon

{

margin-left: 24px;

}


/*ABOUT*/

.a_comptitle

{

	font-size:16px;

	font-weight: normal;

}

.about_table

{

  background-color: #F7F8F9; 

  border: 1px solid #d5d5d5; 

  width: 100%; 

  padding: 10px; 

  border-collapse: collapse;

}



.about_table td

{

  background-color:#fff;

   padding: 4px;

}



.about_table,  .about_table td, .about_table th, .about_table tr

{

  border: 1px solid #d5d5d5

}



.update_link

{

  cursor: pointer; 

  text-decoration:underline;

}



.thank_tabl

{

  background-color: #F7F8F9; 

  border: 1px solid #d5d5d5; 

  width: 100%; 

  padding: 10px; 

  border-collapse: collapse;

}



.thank_ftd

{

  background-color: #e7e8e9;

  text-align:left; 

  font-size:16px; 

  font-weight:400; 

  line-height:18px; 

}

.thank_fdiv

{

  float:left; 

  width:720px;

}

.thank_rate

{

  float:left;

  display: block; 

  width: 234px; 

  height: 60px; 

  background: transparent url(http://cdn.hotscripts.com/img/widgets/rt_234x60-1.gif) 0 0 no-repeat; 

  font: normal 11px/12px Arial, Helvetica, sans-serif; 

  color: #fff; 

  text-align: right;

}



.thank_form

{

  display: block; 

  position: relative; 

  left: 79px; 

  margin: 0; 

  padding: 8px 0 0; 

  width: 153px; 

  overflow: hidden; 

  text-align: left;

}

.about_news

{

  background-color: #e7e8e9;

  text-align:left; 

  font-size:14px; 

  font-weight:400; 

  line-height:18px;

}

.jp-panel-logo {

    height: 20px;

    width: 20px;

    vertical-align: top;

}

#jp-navbar {
	margin-bottom: 18px !important;
}
#system-message-container{
    padding-left: 0 !important;
}
#system-message-container.j-toggle-main {
    float: none !important;
    width: 100% !important;
}
.j-sidebar-container{
    margin: 0 !important;
}

.container .brand {

    text-transform: uppercase;

    font-family: 'Lucida Sans Unicode', Helvetica, Arial;

}

#pgm_dashboard {

    margin:20px 10px 0 0;

    width:48%;

    min-height: 100px;

    height: auto;

    float:left;

}

#pgm_collapse {

    width:49%;

    float:left;

    margin:20px 0 0 0;

}

.accordion-inner {

    overflow: hidden;

}

.pgm-dashboard_button {

    cursor: pointer;

    background: none repeat scroll 0 0 #FAFAFA;

    border: 1px solid #eed;

    border-radius: 3px 3px 3px 3px;

    float: left;

    margin: 5px;

    padding: 20px 10px;

    width: 100px;

    height: 66px;

    overflow: hidden;

}

.pgm-dashboard_button:hover {

    background-color: #fff;
    box-shadow: 0px 0px 10px #eed;

}

.pgm-dashboard_button_text {

    text-align: center;

    width: 100%;

    overflow: hidden;

}

.accordion-inner

{

  padding: 0px !important;

}

.navbar .brand{
  float: left !important;
}

.checklist_dashboard {
  float: left;
  height: auto;
  min-height: 100px;
  margin: 0 0 0 0;
}

.checklist_dashboard .btn {
  height: 60px;
  padding: 20px 10px;
  vertical-align: middle;
  width: 100px;
  margin: 0px 10px 10px 0px;
}
.checklist_dashboard .btn > div {
  font-weight: bold;
  padding-top: 5px;
}
.checklist_dashboard img {
  margin-top: -5px;
}

div.form-horizontal.checklist_control_panel_container {
  float: right;
  margin-right: 15px;
  width: 47%;
}
.checklist_control_panel_table {
  float: right;
  background-color: #F7F8F9; 
  border: 1px solid #d5d5d5; 
  border-collapse: collapse;
  width: 100%; 
  max-width: 940px;
  margin: 0 0 0 0;
  padding: 10px;
}
.checklist_control_panel_table td {
  background-color:#fff;
  padding: 4px;
  height: 25px;
}
.checklist_control_panel_table td,
.checklist_control_panel_table th,
.checklist_control_panel_table tr {
  border: 1px solid #d5d5d5;
  cursor: default;
}
.checklist_control_panel_title {
  font: normal normal bold 16px/1.4em helvetica;
  cursor: default;
  padding: 2px 0 2px 0;
  background-color: #0088CC;
  border-radius: 5px;
  color: #FFFFFF;
}
.checklist_control_panel_title a { color: #fff;}
.checklist_control_panel_title a:hover { color: #fff; text-decoration: underline}
.checklist_control_panel_current_version {
  font-weight: bold;
}
.checklist_control_panel_news_table {
  background-color: #F7F8F9; 
  border: 1px solid #d5d5d5;
  border-collapse: collapse;
  width: 100%; 
  padding: 10px; 
}
.checklist_control_panel_news_table td {
  height: auto;
}
.checklist_control_panel_news_table td[section]{
  font: normal normal bold 14px/1.4em helvetica;
  cursor: default;
  background-color: #e7e8e9;
}
.checklist_control_panel_news_table td[section] img {
  margin-right: 4px;
  vertical-align: baseline;
}
td.checklist_control_panel_thanks_cell {
  padding: 5px 0px 2px 20px;
}
.checklist_control_panel_thanks {
  float: left;
  font-size: 12px;
  padding: 0 0 2px 0;
}
.checklist_control_panel_rate_us {
  float: left;
  clear: both;
  margin: 3px 0px 5px 0px;
}
td.checklist_control_panel_news_cell {
  padding-left: 20px;
}
.checklist_control_panel_news {
  padding: 0 10px 0 0;
}
